---
import Layout from "../layouts/Layout.astro";
import "@/styles/global.css";
import Hero from "@/components/Hero.astro";
import About from "@/components/About.astro";
import Features from "@/components/Features.astro";
import Reviews from "@/components/Reviews.astro";
import Contact from "@/components/Contact.astro";
---

<Layout title="Welcome to Astro.">
  <main class="">
    <Hero />
    <About />
    <Features />
    <Reviews />
    <Contact />
  </main>
</Layout>
