---
import Layout from "../layouts/Layout.astro";
import "@/styles/global.css";
import Hero from "@/components/Hero";
import Features from "@/components/Features.astro";
import Reviews from "@/components/Reviews.astro";
---

<Layout title="Welcome to Astro.">
  <main class="">
    <Hero />
    <Features />
    <Reviews />
  </main>
</Layout>
