---
import { Image } from "astro:assets";
---

<section id="about" class="my-20 text-zinc-600 body-font scroll-mt-52">
  <div class="container px-5 py-5 sm:py-24 mx-auto">
    <div class="w-full mb-6 lg:mb-20">
      <h1
        class="sm:text-4xl text-2xl tracking-tight font-semibold title-font mb-2 text-gray-900"
      >
        About
      </h1>
      <div class="h-1 w-20 bg-accent rounded"></div>
    </div>
    <div
      class="flex flex-col lg:flex-row justify-center items-center lg:space-x-32"
    >
      <Image
        width={250}
        height={250}
        src="/nina-heart.png"
        alt="nina image"
        class="object-cover rounded-xl shadow shadow-primary"
      />
      <div
        class="text-lg text-justify max-w-lg leading-snug text-balance text-gray-700"
      >
        <p>
          I’m so glad you’re here, and welcome to a space of healing and
          self-discovery! I’m Nina, the intuitive astrologer behind Honey Nectar
          Astrology. My approach is like drawing out the nectar of your soul’s
          wisdom—using astrology as a therapeutic tool to uncover and heal
          familial traumas and unresolved past life issues. I’m here to guide
          you through life’s challenges with a nurturing, honeyed approach,
          helping you transform pain into purpose and bloom into your most
          authentic, fulfilled self.
        </p>
      </div>
    </div>
  </div>
</section>
