---

---

<section id="about" class="my-10 text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="w-full mb-6 lg:mb-20">
      <h1
        class="sm:text-4xl text-2xl font-semibold title-font mb-2 text-gray-900"
      >
        About
      </h1>
      <div class="h-1 w-20 bg-accent rounded"></div>
    </div>
    <div
      class="flex flex-col md:flex-row justify-center items-center space-x-32"
    >
      <img
        src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
        alt=""
        class="size-56 rounded-full bg-gray-50"
      />
      <div
        class="text-justify max-w-md h-64 rounded-md p-10 sm:p-3 text-zinc-800"
      >
        <p>
          Lorem ipsum odor amet, consectetuer adipiscing elit. Varius orci
          habitasse nisi congue vestibulum sapien. Purus torquent ullamcorper
          cubilia nunc potenti dapibus eget lobortis. Lectus cubilia aliquam
          tellus feugiat non habitant hac. Iaculis et ipsum ultricies vivamus
          ligula nisl etiam sagittis. Libero mus pulvinar convallis; sodales
          varius himenaeos consectetur vulputate.
        </p>
      </div>
    </div>
  </div>
</section>
