---
import { Image } from "astro:assets";
import Nina from "@/assets/nina-heart.png";
---

<section id="about" class="relative my-20 text-zinc-600 body-font scroll-mt-52">
  <img
    width={250}
    src={"/pink-planet.png"}
    alt="pink planet"
    class={"hidden md:block absolute right-5 -top-[15%] md:left-[10%] md:top-[30%] xl:top-[35%] xl:left-[18%] 2xl:left-[45%] 2xl:-top-[10%] rotate-12"}
  />
  <div class="container px-5 py-5 sm:py-24 mx-auto">
    <div class="w-full mb-6 lg:mb-20">
      <h1
        class="sm:text-5xl text-2xl tracking-tight font-bold title-font mb-2 text-gray-900"
      >
        About
      </h1>
      <div class="h-1 w-20 bg-accent rounded"></div>
    </div>
    <div
      class="relative flex flex-col space-y-16 lg:flex-row justify-center items-center lg:space-y-0 lg:space-x-10"
    >
      <Image
        width={300}
        height={300}
        src={Nina}
        alt="nina about image"
        class="object-cover rounded-xl shadow-lg shadow-primary"
      />
      <img
        width={250}
        src={"/pink-cloud.svg"}
        alt={"pink cloud"}
        class="hidden md:block absolute -top-[10%] right-[0%] md:right-[12%] md:-top-[3%] lg:-top-[15%] lg:right-[15%] z-20"
      />
      <div
        class="relative text-lg text-justify max-w-lg leading-snug text-balance"
      >
        <p class="text-zinc-800">
          I’m so glad you’re here, and welcome to a space of healing and
          self-discovery! I’m Nina, the intuitive astrologer behind Honey Nectar
          Astrology. My approach is like drawing out the nectar of your soul’s
          wisdom—using astrology as a therapeutic tool to uncover and heal
          familial traumas and unresolved past life issues. I’m here to guide
          you through life’s challenges with a nurturing, honeyed approach,
          helping you transform pain into purpose and bloom into your most
          authentic, fulfilled self.
        </p>
      </div>
    </div>
  </div>
</section>
