---

---

<section id="about" class="my-10 text-gray-600 body-font">
  <div class="container px-5 py-5 sm:py-24 mx-auto">
    <div class="w-full mb-6 lg:mb-20">
      <h1
        class="sm:text-4xl text-2xl tracking-tight font-semibold title-font mb-2 text-gray-900"
      >
        About
      </h1>
      <div class="h-1 w-20 bg-accent rounded"></div>
    </div>
    <div
      class="flex flex-col lg:flex-row justify-center items-center lg:space-x-32"
    >
      <img
        src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
        alt=""
        class="size-56 rounded-full bg-gray-50"
      />
      <div
        class="text-lg text-justify max-w-lg leading-snug text-balance text-gray-700"
      >
        <p>
          Welcome! I’m Nina, an intuitive astrologer based in St. Petersburg,
          FL, with over 8 years of deep study and formal training at the
          Kabbalah Center in California. I use astrology as a form of
          unconscious therapy, helping to reveal and heal familial traumas and
          unresolved past life issues that shape your experiences today. My
          mission is to guide you through life’s challenges by interpreting
          planetary patterns, empowering you to heal old wounds, break free from
          limiting cycles, and step into a more authentic, fulfilled life.
        </p>
      </div>
    </div>
  </div>
</section>
