---
import { Button } from "./ui/button";
import { Send } from "lucide-astro";
---

<section id="contact" class="text-gray-600 body-font relative">
  <div class="container px-5 py-5 sm:py-24 mx-auto">
    <div class="lg:w-1/2 w-full mb-6 lg:mb-20">
      <h1
        class="sm:text-4xl text-2xl font-semibold title-font mb-2 text-gray-900"
      >
        Contact
      </h1>
      <div class="h-1 w-20 bg-accent rounded"></div>
    </div>
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-4xl text-2xl font-bold title-font mb-4 text-gray-900">
        Book With Me
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        Reach out to me with any questions or inquiries.
      </p>
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <form method="POST" class="flex flex-col md:flex-row flex-wrap -m-2">
        <div class="p-2 w-full md:w-1/2">
          <div class="relative">
            <label
              for="name"
              class="leading-7 font-semibold text-lg text-gray-600">Name</label
            >
            <input
              type="text"
              id="name"
              name="name"
              class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-primary focus:bg-white focus:ring-2 focus:ring-primary/90 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            />
          </div>
        </div>
        <div class="p-2 w-full md:w-1/2">
          <div class="relative">
            <label
              for="email"
              class="leading-7 font-semibold text-lg text-gray-600">Email</label
            >
            <input
              type="email"
              id="email"
              name="email"
              class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-accent focus:bg-white focus:ring-2 focus:ring-accent/90 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            />
          </div>
        </div>
        <div class="p-2 w-full">
          <div class="relative">
            <label
              for="message"
              class="leading-7 font-semibold text-lg text-gray-600"
              >Message</label
            >
            <textarea
              id="message"
              name="message"
              class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-secondary focus:bg-white focus:ring-2 focus:ring-secondary/90 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
            ></textarea>
          </div>
        </div>
        <div class="p-2 w-full">
          <Button className="flex mx-auto w-36 space-x-2">
            <Send class="size-4 sm:size-5" />
            <p class="text-md sm:text-lg">Send</p>
          </Button>
        </div>
      </form>
    </div>
  </div>
</section>
