---

---

<section id="packages" class="my-20 body-font text-zinc-600">
  <div class="container px-5 py-5 sm:py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1
          class="sm:text-4xl text-2xl font-semibold title-font mb-2 text-zinc-900"
        >
          Offerings✨
        </h1>
        <div class="h-1 w-20 bg-accent rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full font-light leading-relaxed">
        Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical
        gentrify, subway tile poke farm-to-table. Franzen you probably haven't
        heard of them man bun deep jianbing selfies heirloom prism food truck
        ugh squid celiac humblebrag.
      </p>
    </div>
    <div class="flex flex-col items-center lg:flex-row lg:flex-wrap -m-4">
      <div class="xl:w-2/6 md:w-3/4 w-full p-4">
        <div
          class="text-gray-700 shadow-lg shadow-primary p-6 rounded-md lg:h-[36rem]"
        >
          <img
            class="h-48 rounded w-full object-cover object-center mb-6"
            src="https://dummyimage.com/721x401"
            alt="content"
          />
          <h2 class="text-lg text-zinc-900 font-medium title-font mb-4">
            Honeycomb Clarity Session
          </h2>
          <p class="leading-relaxed text-base">
            Like a bee gathering nectar, this session uncovers the essence of
            your soul’s path. Through an in-depth exploration of your birth
            chart, I’ll reveal the patterns that influence your life purpose and
            current challenges. Perfect for gaining clarity and direction, this
            session offers you the sweet insight needed to realign with your
            authentic self and move forward with confidence.
          </p>
        </div>
      </div>
      <div class="xl:w-2/6 md:w-3/4 lg:min-h-[40rem] w-full p-4">
        <div
          class="text-gray-700 shadow-lg shadow-primary p-6 rounded-md lg:h-[36rem]"
        >
          <img
            class="h-48 rounded w-full object-cover object-center mb-6"
            src="https://dummyimage.com/721x401"
            alt="content"
          />
          <h2 class="text-lg text-zinc-900 font-medium title-font mb-4">
            Nectar of Healing: Ancestral & Past Life Unraveling
          </h2>
          <p class="leading-relaxed text-base">
            This package delves into the honeyed layers of your soul’s history,
            addressing the unresolved issues from past lives and familial
            traumas that have carried into this one. Using your natal chart,
            I’ll help you unravel these deep-rooted patterns and find the
            healing needed to release karmic cycles and embrace inner freedom.
            Emerge renewed, having tasted the nectar of emotional healing and
            empowerment.
          </p>
        </div>
      </div>
      <div class="xl:w-2/6 md:w-3/4 w-full p-4">
        <div
          class="text-gray-700 shadow-lg shadow-primary p-6 rounded-md lg:h-[36rem]"
        >
          <img
            class="h-48 rounded w-full object-cover object-center mb-6"
            src="https://dummyimage.com/721x401"
            alt="content"
          />
          <h2 class="text-lg text-zinc-900 font-medium title-font mb-4">
            Soul Essence Transformation
          </h2>
          <p class="leading-relaxed text-base">
            This immersive journey is designed to connect you with the essence
            of your soul’s nectar—your purest potential. We’ll analyze your
            progressed chart to understand how past life energies and current
            planetary influences are shaping your evolution. By addressing
            imprints and limitations, this package guides you toward releasing
            what no longer serves you, allowing you to flow naturally into your
            soul’s evolution and fully bloom.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
