---

---

<section id="packages" class="my-10 body-font">
  <div class="container px-5 py-5 sm:py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1
          class="sm:text-4xl text-2xl font-semibold title-font mb-2 text-gray-900"
        >
          Offerings✨
        </h1>
        <div class="h-1 w-20 bg-accent rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">
        Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical
        gentrify, subway tile poke farm-to-table. Franzen you probably haven't
        heard of them man bun deep jianbing selfies heirloom prism food truck
        ugh squid celiac humblebrag.
      </p>
    </div>
    <div class="flex flex-col items-center lg:flex-row lg:flex-wrap -m-4">
      <div class="xl:w-2/6 md:w-3/4 w-full p-4">
        <div class="text-gray-700 shadow-lg shadow-accent p-6 rounded-md">
          <img
            class="h-48 rounded w-full object-cover object-center mb-6"
            src="https://dummyimage.com/721x401"
            alt="content"
          />
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
            Soul Path Clarity Session
          </h2>
          <p class="leading-relaxed text-base">
            This session offers a deep dive into your birth chart, uncovering
            the key patterns that define your soul’s journey. We’ll explore your
            life’s purpose, current challenges, and the energies at play in
            shaping your path. Perfect for those seeking clarity and guidance on
            their next steps in life, this session helps you realign with your
            true self and make empowered choices.
          </p>
        </div>
      </div>
      <div class="xl:w-2/6 md:w-3/4 w-full p-4">
        <div class="text-gray-700 shadow-lg shadow-primary p-6 rounded-md">
          <img
            class="h-48 rounded w-full object-cover object-center mb-6"
            src="https://dummyimage.com/722x402"
            alt="content"
          />
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
            Healing the Past: Trauma & Ancestral Insights
          </h2>
          <p class="leading-relaxed text-base">
            This transformative journey goes beyond traditional astrology to
            focus on deep unconscious therapy. We’ll analyze your progressed
            chart, diving into how past life energies and current planetary
            movements are affecting your growth. Designed for those ready for
            significant inner transformation, this package helps you release
            past limitations and step into a higher state of awareness, allowing
            your soul to evolve and thrive in alignment with its true purpose.
          </p>
        </div>
      </div>
      <div class="xl:w-2/6 md:w-3/4 w-full p-4">
        <div class="text-gray-700 shadow-lg shadow-secondary p-6 rounded-md">
          <img
            class="h-48 rounded w-full object-cover object-center mb-6"
            src="https://dummyimage.com/723x403"
            alt="content"
          />
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
            Soul Evolution Intensive
          </h2>
          <p class="leading-relaxed text-base">
            In this package, we focus on healing unresolved familial traumas and
            past life issues that are carried into this lifetime. Through an
            in-depth analysis of your natal chart, we’ll uncover unconscious
            patterns that influence your emotional well-being and relationships.
            You’ll gain insights into ancestral karma and how to break free from
            generational cycles, leading to profound emotional healing and
            freedom.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
