---
import { Send } from "lucide-astro";
import { Button } from "./ui/button";
import { Image } from "astro:assets";
import HoneyHeroLogo from "../assets/honey_logo.png";
---

<div class="relative z-50 px-6 pt-5 sm:pt-20 min-h-[calc(100vh-10rem)]">
  <div
    class="hidden sm:absolute -top-40 -z-0 transform-gpu overflow-hidden blur-3xl sm:left-60 sm:-top-80"
    aria-hidden="true"
  >
    <div
      class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-secondary via-accent to-purple-800 opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    >
    </div>
  </div>
  <div class="mx-auto max-w-2xl">
    <div class="flex justify-center">
      <Image width={"300"} src={HoneyHeroLogo} alt={"honey-hero-logo"} />
    </div>
    <div class="text-center">
      <h1
        class="py-2 text-4xl font-bold tracking-tight text-transparent bg-gradient-to-br from-secondary via-primary to-accent bg-clip-text sm:text-5xl backdrop-blur-sm"
      >
        Discover Your Cosmic Journey
      </h1>
      <p class="mt-6 text-lg leading-8 text-zinc-800 backdrop-blur-sm">
        Nina Ann Rivenson is an intuitive astrologer and healer at Honey Nectar
        Astrology, specializing in deep, transformative healing. She guides
        clients in uncovering the soul's nectar, helping them break free from
        past traumas and align with their true path.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="#contact">
          <Button variant={"secondary"} className="w-40 h-12 text-lg">
            <Send className="size-6" />
            Contact
          </Button>
        </a>
      </div>
    </div>
  </div>
  <div
    class="hidden sm:absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)] sm:left-0"
    aria-hidden="true"
  >
    <div
      class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-purple-800 via-accent to-secondary opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    >
    </div>
  </div>
</div>
