---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "@/styles/global.css";
import HolidaySalesBanner from "@/components/Banner.tsx";
import NavBar from "@/components/Nav.tsx";
import Footer from "@/components/Footer.astro";
import { Toaster } from "@/components/ui/sonner";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="max-w-full mx-auto min-h-screen">
    <HolidaySalesBanner client:load />
    <NavBar client:load />
    <main class="mt-16 2xl:mt-20">
      <slot />
    </main>
    <Toaster client:load />
    <Footer />
  </body>
</html>
